.interact-popup-text {
    position: fixed;
    z-index: 1;
    width: 25px;
    height: 25px;
    background-color: rgba(90, 182, 222, 0.576);
    border: 2px solid rgba(0, 0, 0, 0.253);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: none;
    -webkit-backdrop-filter: blur(5px); /* Apply the blur effect */
    backdrop-filter: blur(5px); /* Apply the blur effect */
  }