
.alby-interface {
    height: 100%;
    width: 80%;
    max-width: 1000px;
    position: fixed;
    overflow: hidden;
    z-index: 3;
    top: 0;

    background-color: rgba(255, 255, 255, 0.114);
    color: white;
    box-sizing: border-box;
    border-radius: 5px;
    border: 20px solid rgb(25, 105, 216);
    
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);

    transform-origin: center;
    animation: pop-out 1s ease-in-out;
}

.alby-editor {
    width: 50%;
}

.alby-interface-content {
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.pseudo-code-container {
    overflow: auto;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: #090d1dd8;

    font-size: 18px;

    transform-origin: center;
    box-sizing: border-box;

    transition: width 0.8s ease;
    white-space: pre-wrap;
}

.hint-code-container {
    overflow: auto;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: #090d1dd8;

    font-size: 18px;

    transform-origin: center;
    box-sizing: border-box;

    transition: width 0.8s ease;
    white-space: pre-wrap;
}

.code-snippet {
    width: 100%;
    background-color: #09034b;
    white-space: pre;
    position: relative;
    color: #bababa;
}

.code-snippet code {
    font-size: 20px;
}

.line {
    counter-increment: line;
    padding-left: 2em; /* Add some space for line numbers */
    position: relative;
}

.line::before {
    content: counter(line);
    position: absolute;
    left: 0;
    width: 1.5em; /* Adjust as needed */
    text-align: right;
    color: rgb(102, 102, 102);
    text-align: center;
}


.line.highlight::before  {
    color: white;
    animation: line-number-highlight-effect 1s infinite;
}

.highlight {
    background-color: rgb(42, 72, 148); /* Highlight color */
    color: white; /* Text color for highlighted lines */
    animation: border-highlight-effect 1s infinite;
}

@keyframes pop-out {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes border-highlight-effect {
    0% {
        outline: 2px solid white;
    }
    70% {
        outline: 2px solid rgba(255, 255, 255, 0.205);
    }
    100% {
        outline: 2px solid white;
    }
}
@keyframes line-number-highlight-effect {
    0% {
        color: white;
    }
    70% {
        color: rgba(255, 255, 255, 0.205);
    }
    100% {
        color: white;
    }
}