.alert-modal-main-container {
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 100;
    width: 100%;
    height: 100%;
    position: fixed;
}

.alert-modal-container {
    position: fixed;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 210px;
    border-radius: 10%;
    border-top: 3px solid rgb(255, 217, 0);
    border-bottom: 3px solid rgb(255, 217, 0);
    border-style: groove;
    border-left: none;
    border-right: none;
    background: linear-gradient(120deg, rgb(34, 55, 124) 0%, rgb(69, 103, 214) 100%);
}

.alert-modal-message {
    padding: 20px;
    text-align: center;
}

.alert-modal-buttons {
    display: flex;
    margin: 10px;
    justify-content: center;
}

.alert-modal-buttons button {
    margin: 10px;
}


.achievement-modal-container {
    z-index: 999;
    position: fixed;
    left: 50%;
    top: 10%;
    transform: translate(-50%,-50%);
    width: 550px;
    min-height: 80px;
    border-style: groove;
    border-radius: 10%;
    display: none;
    background: linear-gradient(120deg, rgb(20, 32, 70) 0%, rgb(28, 44, 97) 100%);
}

.achievement-modal-container.open {
    display: block;
    animation: showAchievement 0.5s ease-in-out;
}

.achievement-modal-container.close {
    display: block;
    animation: hideAchievement 0.5s ease-in-out;
}

.achivement-modal-content {
    text-align: center;
}

.achievement-text-title {
    font-weight: 500;
    font-size: 15px;
}

.achievement-text-name {
    font-weight: 600;
    font-size: 22px;
}

@keyframes showAchievement {
    0% {
        /* top: -10%; */
        display: none;
    }
    100% {
        /* top: 10%; */
        display: block;
    }
}

@keyframes hideAchievement {
    0% {
        /* top: 10%; */
        display: block;
    }
    100% {
        /* top: -10%; */
        display: none;
    }
}