.character-profile-container {
    font-size: 14px;
    width: 55%;
    height: 80%;
    overflow: auto;
    position: fixed;
    z-index: 2;
    top: 10%;
    left: 27%;
    display: flex;
    gap: 10px;
}

.side-nav-buttons {
    background: transparent;
    text-align: left;
    margin: 2px;
    width: 97%;
    display: flex;
}

.left-side {
    top: 0;
    left: 0;
    width: 17%;
    height: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: linear-gradient(120deg, #7c7670 0%, #524c49 100%);
}

.left-side-text-container {
    text-align: left;
    margin: 15px;
}

.left-side-text-container p {
    pointer-events: none;
    margin: 0;
}

.right-side {
    background-color: rgb(108, 124, 129);
    border: 2px solid rgba(0, 0, 0, 0.027);
    /* background: linear-gradient(120deg, rgb(108, 124, 129) 0%, rgb(108, 124, 129) 100%); */
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    box-sizing: border-box;
}

.right-side-text-container {
    text-align: left;
    margin: 15px;
}

.right-side-text-container p {
    margin: 0;
}

#avatar {
    border-radius: 50%;
    background-color: rgb(3, 6, 56);
    background: radial-gradient(circle, rgb(3, 6, 56), rgb(86, 91, 143));
    box-sizing: border-box;
    border: 5px solid rgb(204, 207, 72);
    width: 150px;
    height: auto;
    display: flex;
    margin: 15px auto;
}

#character-username {
    text-align: center;
}

.close-button {
    margin: 2px;
    float: right;
    font-size: 8px;
    text-align: center;
}

.text-container {
    margin-bottom: 5px;
}

.content-header {
    text-align: center;
    border-bottom: 2px solid wheat;
    border-style: groove;
    border-left: none;
    border-right: none;
    border-top: none;
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    font-weight: 600;
    font-size: 15px;
}
  

#bio-content {
    text-align: left;
    margin: 5px auto;
    color: black;
    background-color: white;
    width: 90%;
    height: 70px;
    border: 1px solid rgb(255, 201, 83);
}

#bio-content p {
    margin: 5px;
}

::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
  }
  
::-webkit-scrollbar-track {
    background: #000; /* Background color of the scrollbar track */
  }
  
::-webkit-scrollbar-thumb {
    background: #414147; /* Color of the scrollbar thumb */
  }
  
::-webkit-scrollbar-thumb:hover {
    background: #5d5d64; /* Color of the scrollbar thumb on hover */
  }