:root {
    --help-cloud-color: rgba(44, 79, 124, 0.74);
    --help-cloud-arrow-border-color: rgb(255, 255, 255);
}

.helper-main-container {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 4;
    display: flex;
    align-items: center;
    background-color: rgba(61, 61, 61, 0.527);
    -webkit-backdrop-filter: blur(5px); /* Apply the blur effect */
    backdrop-filter: blur(5px); /* Apply the blur effect */
}

.helper-box-container {
    width: 60%;
    height: 65%;
    text-align: center;
}

.helper-box {
    width: 80%;
    height: 70%;
    border-radius: 10px;
    border: 2px solid grey;
    box-shadow: 0 0 10px 5px black;
    background-color: black;
}

.help-button-container {
    position: absolute;
    display: flex;
    top: 140%;
    margin: 5px;
    justify-content: center;
    align-items: center;
}

.help-button-container p {
    background-color: var(--help-cloud-color);
    padding: 10px;
    position: relative;
    border: 1px solid var(--help-cloud-arrow-border-color);
    border-radius: 5px;
    margin-left: 10px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

p.open-reminder {
    opacity: 1;
}

p.close-reminder {
    opacity: 0;
}

.help-button-container p::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -8px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent var(--help-cloud-arrow-border-color) transparent transparent;
  }

.help-button {
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.6s;
}

.help-button:hover {
    opacity: 1;
}