.editor-container {
  position: fixed;
    top: 0;
    right: 0;
    /* width: 600px; */
    height: 100%;
    z-index: 2;
    transition: transform 0.3s;
    background-color: #090d1dd8;
    backdrop-filter: blur(5px); /* Apply the blur effect */
  }
  
  .java-output-message {
    overflow: auto; /* Add scrollbars when the content exceeds the height */
    max-width: 490px; /* Set a maximum height for the div */
    max-height: 150px;
    font-size: 14px;
    margin: 5px;
  }

  .panel-buttons {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end; */
  }

  .button-text-container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left: 1px solid rgb(36, 36, 36);
    border-right: 1px solid rgb(36, 36, 36);
  }
  .grouped-buttons {
    display: flex;
  }

  #editor-panel-buttons {
    display: flex;
    justify-content: space-between;
  }

  .button-text {
    font-size: 11px;
    text-align: center;
    margin: 0;
  }

  /* .editor-container.visible {
    transform: translateX(0);
  }
  
  .editor-container.hidden {
    transform: translateX(100%);
  } */
  