.ui-container {
    position: fixed;
    z-index: 2;
}

.right-container {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
}

.left-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
}

#quest-button,
#leaderboard-button,
#profile-button,
#settings-button,
#achievement-button {
    margin-right: 10px;
}

.sprint-image-container {
    border-radius: 50%;
    position: fixed;
    display: inline-block;
    overflow: hidden;
    width: 90px;
    height: 90px;
    margin: 50px;
    bottom: 0;
    right: 0;
}

.sprint-disabled {
  opacity: 0.5;
}

.sprint-enabled {
  opacity: 1.0;
}

.sprint-triggered {
  background-color: white;
}

.sprint-image-container img {
    display: block;
    width: 100%;
    height: auto;
    opacity: 1.0;
  }

.sprint-image-container:hover {
    cursor: pointer;
    border: 2px solid white;
}

#popupContainer {
  display: none;
  position: fixed;
  text-align: center;
  top: 30%;
  left: 50%;
  width: 45%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  z-index: 3;
  animation: slideIn 0.8s ease-in-out;
}

.fadeOut {
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}


#quest-item {
  font-size: 40px;
  margin: 0;
}

/* #popupContent {
  animation: slideIn 0.8s ease-in-out;
  z-index: 3;
} */

@keyframes slideIn {
  0% {
    transform: translate(-50%, -100%);
    opacity: 0;
  }
  100% {
    /* transform: translate(-50%, -50%); */
    opacity: 1;
  }
}
