.hidden {
    display: none;
  }
  
  .quest-container {
    position: fixed;
    top: 0;
    /* left: 0; */
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    /* gap: 10px; */
  }

  .quest-box {
    overflow: auto; /* Add scrollbars when the content exceeds the height */
    width: 40%;
    height: 100%;
    padding: 10px;
    background-color: #141f45b9;

    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);

    animation: slideToBottom 0.3s ease-in-out;
  }

  .quest-details {
    overflow: auto;
    width: 60%;
    height: 100%;
    padding: 10px;
    background-color: #141f45b9;

    border-left: 2px solid #162d83b9;

    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);

    transition: width 0.8s;
    transition-timing-function: ease;

    animation: slideLeftToRight 0.3s ease-in-out;
  }

  .on-editor {
    width: 48.4%;
  }

  .quest-details-header {
    display: flex;
    justify-content: end;
  }

  .quest-details-title {
    background-color: #3459a971;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    margin-top: 20px;
    color: white;
  }

  .quest-details-buttons {
    height: 50px;
  }

  .top-quest-bar {
    display: flex;
    justify-content: end;
  }

  #close-quest-button {
    top: 0;
    right: 0;
  }

  .quest-side-button-container {
    width: 100%;
    display: none;
  }

  .quest-button-container {
    width: 100%;
  }

  .quest-side-button {
    float: right;
    font-size: 15px;
    padding: 7px;
  }

  #close-quest-button:hover {
    cursor: pointer;
  }
  
  .tab {
    background-color: #0731bb27;
    padding: 8px;
    cursor: pointer;
  }
  
  .tab.active {
    background-color: #0731bb71;
  }
  
  .content {
    display: none;
    padding: 10px;
    color: white;
  }
  #OngoingQuests, #SideQuests, #StoryQuest {
    /* background-color: #3459a971; */
    width: 100%;
    /* margin: 10px; */
  }
  #OngoingQuests h3, #SideQuests h3, #StoryQuest h3 {
    background-color: #3459a971;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    margin-top: 20px;
    color: white;
    animation: slideToRight 0.5s ease-in-out;
  }

  #Ongoing li, #Available li, #StoryQuestList li{
    /* list-style: none; */
    background-color: #3459a971;
    margin-top: 5px;
    border: 2px solid #243d75b0;
    padding: 20px;
    padding-right: 10px;
  }

  #StoryQuestList li:hover,
  #StoryQuestList li:hover span,
  #Available li:hover,
  #Available li:hover span{
    cursor: pointer;
    border-left: 2px solid white;
  }

  #StoryQuestList li:hover,
  #Available li:hover {
    animation: fadeIn 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Border glow effect */
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.2); /* Text glow effect */
  }

  #StoryQuestList li:hover .quest-side-button-container,
  #Available li:hover .quest-side-button-container {
    animation: buttonSlideToBottom 0.2s ease-in-out;
    display: inline-block !important;
  }

  #Ongoing li:hover {
    animation: buttonSlideToBottom 0.2s ease-in-out;
    display: inline-block !important;
  }

  #Ongoing span, #Available span, #StoryQuestList span{
    background-color: #3459a971;
    border: 2px solid #243d75b0;
    font-size: 14px;
    padding: 4px;
  }

  /* #Ongoing li:hover + span,
  #Ongoing li:hover ~ span {
    background-color: #3459a971;
    border-left: 2px solid white;
  } */

  .content.active {
    display: block;
  }

  @keyframes fadeIn {
    0% {
      border-left: 2px solid rgba(255, 255, 255, 0);
      box-shadow: 0 0 10px rgba(255, 255, 255, 0); /* Border glow effect */
      text-shadow: 0 0 10px rgba(255, 255, 255, 0); /* Text glow effect */
    }
    100% {
      border-left: 2px solid white;
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Border glow effect */
      text-shadow: 0 0 10px rgba(255, 255, 255, 0.2); /* Text glow effect */
    }
  }

  @keyframes slideToBottom {
    0% {
      transform: translate(0, -100%);
    }
    100% {
      transform: translate(0, 0);
    }
  }

  @keyframes slideLeftToRight {
    0% {
      opacity: 0;
      transform: translate(-100%, 0);
    }
    100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }

  @keyframes buttonSlideToBottom {
    0% {
      opacity: 0;
      transform: translate(0, -100%);
    }
    100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }

  @keyframes slideToRight {
    0% {
      opacity: 0;
      transform: translate(-100%, 0);
    }
    100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }